/*general*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #1E1E1E;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
}


/*coding*/

.color-comment {
	color: #618A51;
}

.color-text {
	color: #D4D4D4;
}

.color-reserved-key {
	color: #589CD3;
}

.color-class {
	color: #54C8B0;
}

.color-string {
	color: #CD917A;
}

.color-variable {
	color: #9DDBFB;
}

.color-method {
	color: #DCDCAD;
}

.tab1 {
	padding-left: 3em;
}

.tab2 {
	padding-left: 6em;
}

.tab3 {
	padding-left: 9em;
}

.weight-strong {
	opacity: 1;
	font-weight: 600;
	font-size: 110%;
}

.weight-light {
	opacity: 0.3;
	font-weight: 300;
}

.section a:visited {
	text-decoration: none;
	color: inherit;
}

.section a {
	font-weight: 600;
	font-size: 110%;
	color: inherit;
}


/*navigation bar*/

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	margin-left: 40px;
	background-color: #252526;
	padding-right: 40px;
	opacity: 1;
	z-index: 1;
}

header img {
	height: 100%;
	border-radius: 50%;
	border: 3px solid white;
	margin-left: -40px;
}

.nav-bar {
	padding: 13px;
}

.nav-bar a {
	padding: 15px;
	text-decoration: none;
	color: white;
}

.nav-bar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}


/*footer*/

footer {
	height: 100px;
	background-color: #1E1E1E;
	color: #D4D4D4;
}

footer p {
	line-height: 80px;
	text-align: right;
	margin-right: 50px;
}


/*content*/

.content {
	padding: 0 50px;
}

.section {
	border-bottom: 1px solid black;
	width: 100%;
	display: flex;
	align-items: center;
	color: #D3D3D3;
	padding: 10em 5em;
}


/*banner*/

#banner>div {
	margin: 0 auto;
	padding: 5em 0;
	font-size: 130%;
}

#banner span {
	margin-bottom: 2px;
}

.link {
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 0 1px;
	opacity: 0.99;
	transition: color ease 0.3s;
}

.link:after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 5%;
	left: 0;
	bottom: 0;
	transition: all ease 0.3s;
}

.link:hover {
	color: #1E1E1E;
}

.link:hover:after {
	height: 100%;
}

.link-text:after {
	background-color: #D4D4D4;
}

.link-string:after {
	background-color: #CD917A;
}

.link-variable:after {
	background-color: #9DDBFB;
}


/*timeline*/

#timeline>div,
#credit>div,
#projects>div {
	margin: 0 auto;
}


/*interest*/

#interest ul {
	list-style: none;
}

.col30 {
	width: 30%;
}

.col70 {
	width: 70%;
	/* change the default display type to inline-block */
	overflow: hidden;
}

.outer-shadow,
.photostack figure {
	-webkit-box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.9);
}

.box-border {
	border: 5px solid black;
}

.inner-shadow {
	position: relative;
	-webkit-box-shadow: inset 0px 0px 110px 26px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: inset 0px 0px 110px 26px rgba(0, 0, 0, 0.9);
	box-shadow: inset 0px 0px 110px 26px rgba(0, 0, 0, 0.9);
}

.mySlides {
	position: relative;
	width: 100%;
	-webkit-animation: zoom 30s;
	/* Chrome, Safari, Opera */
	animation: zoom 30s;
	z-index: -1;
}

.badge {
	background-color: transparent;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	padding: 1px;
	cursor: default;
	border-radius: 5%;
	margin-bottom: 1px;
}

.badge:hover {
	background-color: white;
	color: black;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1, 1);
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
	}
}


/* Standard syntax */

@keyframes zoom {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.5, 1.5);
	}
}


/*gallery*/

#gallery {
	display: none;
}

#gallery.active {
	display: block;
}

.dot,
.dot:before,
.dot:after {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #1E1E1E;
}

.dot {
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
	cursor: pointer;
}

.dot:before,
.dot:after {
	content: "";
}

.dots {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #010101;
}

.dot:before {
	right: 15px;
	transition: right .3s ease-out;
}

.dot:after {
	left: 15px;
	transition: left .3s ease-out;
}

.dots:hover .dot:before {
	right: -15px;
}

.dots:hover .dot:after {
	left: -15px;
}


/*projects*/

#projects-container {
	display: none;
}


/*credit*/

#credit span {
	font-size: 120%;
	margin-bottom: 2px;
}
