/*general*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    background-color: #333333;
    font-family: Monaco;
    padding: 0;
}
a {
    cursor: pointer;
}
.red-bg-white-txt {
  background-color: #b61827;
  color: white;
}
.text-editor-background {
  background-color: #1E1E1E;
  color: #D3D3D3;
}
/*navigation bar*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    margin-left: 40px;
    background-color: #252526;
    padding: 0;
}

header img {
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: -40px;
}
.nav-bar {
  padding: 13px;
}
.nav-bar a{
    padding: 15px;
    text-decoration: none;
    color: white;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
/*footer*/
footer {
  height: 60px;
  padding: 5px;
  background-color: #1E1E1E;
  color: #D4D4D4;
}
footer p {
  text-align: right;
  margin-right: 10px;
}
/*content*/
.content {
    padding: 0 50px;
}
.section{
    border-bottom: 1px solid black;
}

/*banner*/
#banner {
    width: 100%;
    font-family: monospace;
}
#banner > div {
    padding: 15em 10em;
    display: inline-block;
    margin: 0 auto;
}
#banner a {
  font-weight: bold;
  font-size: 115%;
}
#banner a:visited {
  text-decoration: none;
  color: #D4D4D4;
}
#banner div p {
  font-size: 130%;
  font-weight: 500;
  align-content: center;
}
#banner div ul {
    list-style: none;
}

/*intro*/
/*interest*/
#interest {
    margin: 0 auto;
    padding: 30px;
}
.div-interest {
    width: 33%;
    display: inline-block;
}
.div-interest img {
    width: 80%;
}
.div-interest-content {
    margin: 0 auto;
}
.hover-border-effect:hover {
   -webkit-filter: drop-shadow(3px 3px 0 white)
                  drop-shadow(-3px -3px 0 white);
  filter: drop-shadow(3px 3px 0 white) 
          drop-shadow(-3px -3px 0 white);
}
#bg-liverpool {
    background-image: url("../img/interest/liverpool.jpg");
    background-size: cover;
}
.bg-image {
  width: 100%;
  z-index: -1;
}
.hightlight-image {
  z-index: 1;
  margin-top: -500px;
}
.mySlides {display:none}
.demo {cursor:pointer}