/*general*/

html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #333333;
	font-family: Monaco;
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
}


/*coding*/

.color-comment {
	color: #618A51;
}

.color-text {
	color: #D4D4D4;
}

.color-reserved-key {
	color: #589CD3;
}

.color-class {
	color: #54C8B0;
}

.color-string {
	color: #CD917A;
}

.color-variable {
	color: #9DDBFB;
}

.tab1 {
	padding-left: 3em;
}

.tab2 {
	padding-left: 6em;
}

.tab3 {
	padding-left: 9em;
}

.weight-strong {
	opacity: 1;
	font-weight: 600;
	font-size: 110%;
}

.weight-light {
	opacity: 0.3;
	font-weight: 300;
}


/*navigation bar*/

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	margin-left: 40px;
	background-color: #252526;
	padding-right: 40px;
	opacity: 1;
	z-index: 1;
}

header img {
	height: 100%;
	border-radius: 50%;
	border: 3px solid white;
	margin-left: -40px;
}

.nav-bar {
	padding: 13px;
}

.nav-bar a {
	padding: 15px;
	text-decoration: none;
	color: white;
}

.nav-bar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}


/*footer*/

footer {
	height: 60px;
	padding: 5px;
	background-color: #1E1E1E;
	color: #D4D4D4;
}

footer p {
	text-align: right;
	margin-right: 10px;
}


/*content*/

.content {
	padding: 0 50px;
}

.section {
	border-bottom: 1px solid black;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #1E1E1E;
	color: #D3D3D3;
}


/*banner*/

#banner>div {
	padding: 15em 0;
	display: inline-block;
	margin: 0 auto;
	font-size: 130%;
}

#banner a:visited {
	text-decoration: none;
	color: #D4D4D4;
}

#banner a {
	font-weight: bold;
	font-size: 110%;
	color: #D4D4D4;
}

.link {
	position: relative;
	text-decoration: none;
	display: inline-block;
	color: #D4D4D4;
	padding: 0 1px;
	opacity: 0.99;
	transition: color ease 0.3s;
}

.link:after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 5%;
	left: 0;
	bottom: 0;
	background-color: #D4D4D4;
	transition: all ease 0.3s;
}

.link:hover {
	color: #1E1E1E;
}

.link:hover:after {
	height: 100%;
}


/*timeline*/

#timeline>div {
	padding: 10em 0;
	margin: 0 auto;
}


/*interest*/

#interest {
	margin: 0 auto;
	padding: 30px;
}

#interest ul {
	list-style: none;
}

.col30 {
	width: 30%;
}

.col70 {
	width: 70%;
}

.mySlides {
	width: 100%;
	-webkit-animation: zoom 50s;
	/* Chrome, Safari, Opera */
	animation: zoom 50s;
}

.badge {
	background-color: transparent;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 0;
	cursor: default;
}

.badge:hover {
	background-color: white;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1, 1);
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
	}
}


/* Standard syntax */

@keyframes zoom {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.5, 1.5);
	}
}
